*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.resultado{
    position: relative;
    left: 25%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}